html, body {
  height: 100%;
  background: #000;
  font-size: 120%;
}

.clock {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.line {
  text-align: justify;
  flex: auto;
  padding: 0;
  font-size: 200%;
  font-family: Verdana;
  padding: 0 5px;
  margin: 10px;
  margin-left: 18px;
}

.line:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.hl {
  color: white;
}

.ho {
  color: #00ae9d;
}

.norm {
  color: #202020;
}

