html, body {
  font-family: Verdana;
  background: #000;
}

.clock {
  font-size: 2rem;
  height: 100vh;
}

ul {
  height: 10.5%;
  font-size: 2rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-inline-start: .1em;
  margin-block-start: .25em;
  margin-block-end: .25em;
}

.hl {
  color: white;
}

.ho {
  color: #00ae9d;
}

.norm {
  color: #505050;
}